@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.homePage {
	background: #481AEB;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #1A2FEB;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #EA9641;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #C2EBEB;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #1A71EB;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #1A2FEB;
}
a:visited {
     color: #1A2FEB;
}
a:hover, a:focus { 
     text-decoration: underline;
}
